body {
  margin: 0;
  background-color: rgb(97, 89, 89);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 100vh;
  gap: 10px;
}



.box {
  width: 200px;
  height: 200px;
  background-color: white;
  border: 2px solid black;
}